:root {
	--titulo: orange;
}

h2 {
	color: var(--titulo);
}
header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #000;
	height: 50px;
}

.logo {
	margin-left: 10px;
	font-weight: 400;
}
.logo a {
	font-size: 1.5rem;
	color: #999;
}
.navegacion-top {
	display: grid;
	position: fixed;
	top: 50px;
	/* left: 0; */
	right: 0;
	/* width: 100%; */
	width: 50%;
	grid-auto-rows: 50px;
	height: 100%;
	background: #000;
	transition: transform .2s ease-in-out;
	/* transform: translateX(-100%); */
	transform: translateX(-200%);
}
.navegacion-top button {
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* padding-left: 20px; */
	background: #000;
}
.navegacion-top a {
	font-size: 1.2rem;
	min-width: 130px;
	text-align: left;
	color: #fff;
}
.navegacion-top i {
	position: relative;
	left: -10px;
}
@media screen and (min-width: 800px) {
	header {
		animation: .5s navbar .5s ease-in-out;
	}
	@keyframes navbar {
		0% { transform: translateY(-50px) }
		100% { transform: translateY(0px) }
	}
		boton-menu {
		display: none;
	}
	.navegacion-top {
		display: flex;
		justify-content: space-around;
		position: static;
		top: 0px;
		/* left: 0; */
		right: 0;
		width: 50%;
		/* width: 50%; */
		/* grid-auto-rows: 50px; */
		height: 50px;
		background: #000;
		transition: transform .2s ease-in-out;
		/* transform: translateX(-100%); */
		transform: translateX(0%);
	}
	.navegacion-top button {
		min-height: auto;
		height: auto;
		display: inline-block;
		align-items: center;
		justify-content: center;
		/* padding-left: 20px; */
		border: none;
		transition: border .5s ease-in-out;
		padding: 10px;
		border-radius: 5px;
	}
	.navegacion-top button:hover {
		border: 1px solid #fff;
	}
	.navegacion-top i {
		position: relative;
		font-size: 1rem;
		left: -10px;
	}
	.navegacion-top a {
		font-size: 1.1rem;
		min-width: 130px;
		text-align: left;
		color: #fff;
	}
}


.banner {
	min-height: 350px;
	/* background: #111; */
	color: #fff;
	display: grid;
	place-content: center;
	gap: 20px;
	position: relative;
}
img {
	width: 100%;
	height: 100%;
}
.banner img {
	position: absolute;
	z-index: -1;
}

.banner h2,
.banner h3 {
	font-weight: 400;
	margin: 5px;
}
.banner div {
	height: 40px;
	width: 130px;
	margin-left: auto;margin-right: auto;
	border-top: 1px solid white;
	overflow: hidden;
	position: relative;
	padding-top: 10px;

}
.banner p {
	font-weight: 500;
	text-align: center;
	height: 50px;
	position: relative;
	margin: 0;
	line-height: 1.8;
  animation: scrollCursos 10s linear infinite;

}
.banner div::before {
	content: "";
	display: block;
	height: 3px;
	width: 30px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	bottom: 0;
}
@media screen and (min-width: 800px) {
	.banner h2,
	.banner h3 {
		font-weight: 600;
		text-align: center;
		font-size: 2.5rem;
	}
	.banner p {
		font-size: 1.5rem;
	}
	.banner {
		min-height: 450px;
	}
}

@keyframes scrollCursos {
  0% { transform: translateY(0px); }
  20% { transform: translateY(0px); }


  25% { transform: translateY(-50px); }
  45% { transform: translateY(-50px); }

  50% { transform: translateY(-100px); }
  70% { transform: translateY(-100px); }

  75% { transform: translateY(-150px); }
  100% { transform: translateY(-150px); }

}

.contenedor-servicios {
}

.contenedor-servicios h2 {
	text-align: center;
	font-weight: 400;
	margin: 5px;
}
.contenedor-servicios div {
	width: 80%;
	border-radius: 10px;
	margin-left: auto;margin-right: auto;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.30);
	padding: 15px;

}
.contenedor-servicios p {
	line-height: 1.5;
	grid-area: content;
}
.ver-servicios {
	min-width: 100px;
	min-height: 50px;
	display: block;
	margin-left: auto;margin-right: auto;
	background: #222;
	color: #fff;
	border-radius: 10px;
}
@media screen and (min-width: 800px) {
	.contenedor-servicios div {
		max-width: 700px;
		animation: 1s servicio .5s ease-in-out;
		display: grid;
		grid-template-areas: 'img title'
		'img content'
		'img boton';
	}
	.contenedor-servicios img {
		grid-area: img;
	}
	.contenedor-servicios p {
		grid-area: content;
		width: 90%;
		justify-self: center;
	}
	@keyframes servicio {
		0% { transform: translateX(-100%) }
		100% { transform: translateX(0%) }
	}
}

.modal {
	position: fixed;
	top: 0;
	background: #111;
	width: 100%;
	height: 100vh;
	display: none;
	/* place-content: center; */

	z-index: 10;
}
.modal #close-modal {
	position: relative;
	top: 5px;
	left: 0;
	/* justify-self: center; */
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 1.8rem;
}
.modal > div {
	width: 300px;
	height: 150px;
	position: relative;
	transform-style: preserve-3d;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	
}
.modal label {
	color: #222;
	text-align: center;
	position: absolute;
	width: 100%;
	min-height: 200px;
	left: 0;
	right: 0;
	border-radius: 10px;
	transition: transform 0.5s ease;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.30);
	overflow: hidden;

	background: #fff;
}
.modal label div {
	padding: 10px;
	position: relative;
}
.modal label h3 {
	font-weight: 500;
	font-size: 1.2rem;
}
.modal label p {
	font-size: 1rem;
	line-height: 1.4;
}
.modal label a {
	display: inline-block;
	padding: 10px;
	background: #ffab40;
	border-radius: 10px;
	color: #fff;
	text-decoration: none;
}
.modal label i {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 60px;
	left: -50px;
	opacity: .1;	
	font-size: 7rem;
}

.modal label button {
	min-width: 100px;
	min-height: 40px;
	border-radius: 10px;
}

.modal input { 
	display: none;
}

#card-1:checked ~ #box-1,
#card-2:checked ~ #box-2,
#card-3:checked ~ #box-3 {
	transform: translateY(0%) scale(1);
	z-index: 2;	
	opacity: 1;	
}
#card-1:checked ~ #box-3, 
#card-2:checked ~ #box-1, 
#card-3:checked ~ #box-2 {
	transform: translateY(-45%) scale(.9);
	opacity: .5;	
	z-index: 0;
}
#card-1:checked ~ #box-2, 
#card-2:checked ~ #box-3, 
#card-3:checked ~ #box-1 {
	transform: translateY(45%) scale(.9);
	opacity: .5;	
	z-index: 0;
}

@media screen and (min-width: 800px) {
	.modal {
		position: static;
		top: 0;
		background: white;
		width: 100%;
		height: 100%;
		display: grid;
		z-index: 1;
	}
	.modal #close-modal {
		display: none;
	}
	.modal > div {
		width: 100%;
		max-width: 800px;
		margin-left: auto;margin-right: auto;
		height: auto;
		position: static;
		transform-style: none;
		top: 0%;
		left: 0%;
		transform: none;
		/* display: grid; */
		display: flex;
		/* grid-auto-flow: column; */
		/* justify-content: center; */
		/* align-items: center; */
		justify-content: space-between;
		/* grid-template-columns: repeat(auto-fill, minmax(200px,1fr)); */
		/* grid-auto-rows: 350px; */
		animation: 1s todosServicios .5s ease-in-out;
	}
	@keyframes todosServicios {
		0% { transform: translateX(200%) }
		100% { transform: translateX(0%) }
	}
	.modal label {
		color: #000;
		text-align: center;
		position: static;
		width: 100%;
		max-width: 250px;
		left: 0;
		right: 0;
		border-radius: 10px;
		transition: transform 0.5s ease;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.30);
		overflow: hidden;
		background: #fff;
	}

	.modal label div {
		display: grid;
		grid-template-rows: min-content min-content 150px 1fr ;
		/* align-content: space-around; */
	}
	.modal label div a {
		align-self: center;
	}
	.modal label i {
		position: static;
		width: auto;
		height: auto;
		top: 60px;
		left: 0px;
		opacity: 1;	
		font-size: 2rem;
	}
	#card-1:checked ~ #box-1,
	#card-2:checked ~ #box-2,
	#card-3:checked ~ #box-3 {
		transform: translateY(0%) scale(1);
		z-index: 2;	
		opacity: 1;	
	}
	#card-1:checked ~ #box-3, 
	#card-2:checked ~ #box-1, 
	#card-3:checked ~ #box-2 {
		transform: translateY(0%) scale(1);
		opacity: 1;	
		z-index: 1;
	}
	#card-1:checked ~ #box-2, 
	#card-2:checked ~ #box-3, 
	#card-3:checked ~ #box-1 {
		transform: translateY(0%) scale(1);
		opacity: 1;	
		z-index: 1;
	}
	/*
	.modal label:nth-child(4) { animation: .5s card_1 .5s ease-in-out; }
	@keyframes card_1 { 0%{transform:translateX(200%); 100%{transform:translateX(0%)}}
	*/
	/*
	.modal label:nth-child(5) { animation: 1s card_2 .5s ease-in-out; }
	@keyframes card_2 { 0%{transform:translateX(200%); 100%{transform:translateX(0%)}}
	*/
		/*
	.modal label:nth-child(6) { animation: 1.5s card_3 .5s ease-in-out; }
	@keyframes card_3 { 0%{transform:translateX(200%); 100%{transform:translateX(0%)}}
	*/

	
}
#main {
	display: grid;
	gap: 30px;
}

.herramientas {
	display: grid;
	width: 90%;
	margin-left: auto;margin-right: auto;
}
.herramientas h2 {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 400;
}
.herramientas > div{
	padding-top: 40px;
	padding-bottom: 20px;
	/* justify-content: space-around;; */
	display: flex;
	/* background: #999; */
	width: 100%;
	min-width: 320px;
	gap: 10px;
	overflow-x: scroll;
	/* overscroll-behavior-x: contain; */
	scroll-snap-type: x proximity;
}

@media screen and (min-width: 800px) {
	#main {
		width: 100%;
		/*
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'banner banner'
		'servicio modal'
		'herramienta herramienta'
		'acerca acerca'
		'footer footer';
		*/
	}
	/*
	.contenedor-servicios { grid-area: servicio; }
	.banner { grid-area: banner; }
	.modal { grid-area: modal; }
	.herramientas { grid-area: herramienta; }
	.acerca { grid-area: acerca; }
	footer { grid-area: footer; }
	*/
}
.card-herramienta {
	/* position: relative; */
	scroll-snap-align: center;
	min-width: 250px;
	min-height: 300px;
	width: 100%;
	text-align: center;
	border-radius: 10px;
	z-index: 1;
	/* padding: 5px; */
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.30);
	opacity: 0;	
	transition: opacity 1s ease;
	overflow: hidden;
	display: grid;
	grid-template-rows: max-content 1fr 1fr max-content;

}

.card-herramienta img {
	height: 150px;
	width: 100%;
}
.card-herramienta:first-child {
	/* background: #ffab40; */
}
.card-herramienta:nth-child(2) {
	/* background: #90caf9; */
	/* color: #fff; */
}
.card-herramienta:last-child {
	/* background: #ffea00; */
}

.card-herramienta:first-child span {
	background: orange;
	color: red;
}
.card-herramienta:nth-child(2) span {
	background: #1565c0;
	color: white;
}
.card-herramienta:last-child span {
	background: #ffff00;
	color: #333;
}
.card-herramienta button {
	background: #222;
	color: white;
	border-radius: 5px;
	margin-bottom: 10px;
}
.card-herramienta h3 {
	font-size: 1.7rem;
	font-weight: 400;
	z-index: 1;
}
@media screen and (min-width: 800px) {
	.herramientas {
		width: 900px;
	}
	.herramientas > div {
		justify-content: space-around;
	}
	.card-herramienta {
		max-width: 250px;
	}
	.card-herramienta img {
		height: 150px;
		width: 100%;
	}
}
.card-herramienta span {
	border-bottom: 1px solid #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;;
	color: #fff;
	/* width: 55%; */
	padding: 10px;

	/* position: absolute; */
	/* left: 50%; */
	/* transform: translateX(-50%); */
	/* top: -45px; */
	display: block;
}
.card-herramienta i {
	font-size: 2.5rem;
}

.card-herramienta button {
	width: 100px;
	margin-left: auto;margin-right: auto;
	min-height: 40px;
}

.acerca {
	/* background: #111; */
	width: 90%;
	transition: all 1s ease;
	margin-left: auto;margin-right: auto;
	position: relative;
	padding: 10px;
	border-radius: 5px;
	max-width: 500px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.30);
}
.acerca img {
}
.light {
	color: #222;
}
.dark {
	border: none;
	color: #fff;
}
.acerca i {
	font-size: 2.5rem;
	position: absolute;
	/* animation: 5s crecerDark .5s linear infinite; */
}
.acerca .fa-sun {
	display: none;
}
@keyframes crecerDark {
	0% { transform: scale(.7) }
	50% { transform: scale(1) }
	100% { transform: scale(.7) }
}
.acerca h2 {
	text-align: center;
	font-weight: 500;
	font-size: 1.3rem;
}
.acerca figure { }
.acerca figcaption {
	/* background: #222; */
	padding: 10px;
	min-height: 30px;
	text-align: center;
	background: #222;
	color: #fff;
}
.acerca p {
	line-height: 1.5;
	padding: 10px;
	font-size: 1rem;

}
.acerca a {
	display: block;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	color: var(--acerca-color);
	font-weight: 600;
	text-decoration: none;
	border: 1px solid;
	width: 100px;
	margin-left: auto;margin-right: auto;
	margin-bottom: 20px;
}

footer {
	min-height: 100px;
	display: flex;
	align-items: center;
	border-top: 1px solid #333;
	margin-top: 50px;
}
footer address {
	text-align: center;
	min-height: 50px;
	width: 100%;
}
